# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


*.ini
*.drawio

docs/notes/code/剑指Offer题解/.idea/
docs/notes/code/设计模式/.idea/
docs/notes/code/网络编程/.idea/
docs/notes/code/Socket网络编程/.idea/